<!DOCTYPE html>
<html>

<head>
	<title>About us Page</title>
    <link rel="stylesheet" href="/static/about.css">
    <!-- <link rel="stylesheet" href="homepage.css"> -->
</head>
<body>
         
    <div class="wrapper">
       
        <div class="logo">
            <!-- <img src="{{ user_image}}" alt=""> -->
        </div>
        <ul class="nav-area">
            <li><a href="{{url_for('homepage')}}">Home</a></li>
            

        </ul>
    </div>

    


				<center><p class="text-big" style="font-size: 40px;font-weight: bold;">About US</p></center>
				
				<p class="text-small" style="color: black;">
					This project aims at building a web App that automatically estimates food attributes such as ingredients and nutritional value by classifying the input image of food.  Our method employs Clarifai's AI-Driven Food Detection Model for accurate food identification and Food API's to give the nutritional value of the identified food.
				</p>
				<br>
			
				<center>
		<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
			Our Team
		</h1>
		<p ><a href="#Order"
			style="text-decoration:none;color:rgb(9, 10, 98);">
					Below are the people who
					works in our project</a>
			</p>
	
				<table class="table table-bordered" style="align-items: center">
					<tr>
					  <th width="30%" style="text-decoration:none;color:black;
					  font-weight:bold;font-family: 'Langar', cursive; font-size: large;">Allan Jacob P</th>
					  <td width="2%" >:</td>
					  <td style="font-family: sans-serif">Team Leader</td>
					</tr>

					<tr>
						<th width="30%" style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive; font-size: large;">Abishek R</th>
						<td width="2%" >:</td>
						<td style="font-family: sans-serif">Team Member</td>
					  </tr>

					  <tr>
						<th width="30%" style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive; font-size: large;">Janesh C</th>
						<td width="2%" >:</td>
						<td style="font-family: sans-serif">Team Member</td>
					  </tr>

					  <tr>
						<th width="30%" style="text-decoration:none;color:black;
						font-weight:bold;font-family: 'Langar', cursive; font-size: large;">Achutha Mallikarjuna</th>
						<td width="2%" >:</td>
						<td style="font-family: sans-serif">Team Member</td>
					  </tr>

				</table>
			
				<!-- <p class="center">
					<a href="#xyz" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						ASHWIN KUMAR 
					</a>
				</p>
				<p style="font-family: sans-serif">TEAM LEADER</p> -->
	
			<!-- <div class="box">
		
				
				<p class="center">
					<a href="#abc" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						GANESAN
					</a>
				</p>
				
				<p style="font-family: sans-serif ">TEAM MEMBER</p>
			
			</div> -->
            <!-- <div class="box">
				
				<p class="center">
					<a href="#abc" style="text-decoration:none;color:black;
		font-weight:bold;font-family: 'Langar', cursive;">
						SRIRAM
					</a>
				</p>
				
				<p style="font-family: sans-serif ">TEAM MEMBER</p>
				
			</div> -->
			<!-- <div class="box">
				<p class="center" style="text-decoration:none;color:black; font-weight:bold;font-family: 'Langar', cursive;">
						NIVENDHAN

						<p style="font-family: sans-serif ">TEAM MEMBER</p>
				</p>
                			

			</div> -->
	
	


	<footer class="background">
		<p class="text-footer">
			NUTRITION ASSISTANT APPLICATION
		</p>

	</footer>
</center>
</body>

</html>
